## String Formatting

In [1]:
# formatting with Placeholder

print('Welcome, in %s World !!!' %'Python')

Welcome, in Python World !!!

In [2]:
# formatting with Multiple Placeholder

print('Welcome Mr %s, in %s World !!!' %('X','Python'))

Welcome Mr X, in Python World !!!

In [3]:
# formatting with /r which print the string with quote i.e. 'Python'

print('Welcome in %r World !!!' %'Python')

Welcome in 'Python' World !!!

In [4]:
# formatting with /t which pring tab

print('Welcome in %s World !!!' %'\tPython')

Welcome in 	Python World !!!

In [5]:
# print decomal number in different format

print('Apple price is $ %s' %1.25)
print('Apple price is $ %d' %1.25)
print('Apple price is $ %10d' %1.25) # 10 represents minimum number of character
print('Apple price is $ %f' %1.25)
print('Apple price is $ %0.1f' %1.25)
print('Apple price is $ %0.2f' %1.25) # 2 represents maximum number after decimal point
print('Apple price is $ %0.3f' %1.25)
print('Apple price is $ %10.3f' %1.25)

Apple price is $ 1.25
Apple price is $ 1
Apple price is $          1
Apple price is $ 1.250000
Apple price is $ 1.2
Apple price is $ 1.25
Apple price is $ 1.250
Apple price is $      1.250

In [6]:
# Multiple formatting 



print('Favourite fruits are {0}, {1}, {2}'.format('Apple', 'Banana', 'Strawberry'))
print('Favourite fruits are {1}, {0}, {2}'.format('Apple', 'Banana', 'Strawberry'))
print('Favourite fruits are {b}, {a}, {s}'.format(a='Apple', b='Banana', s='Strawberry'))

Favourite fruits are Apple, Banana, Strawberry
Favourite fruits are Banana, Apple, Strawberry
Favourite fruits are Banana, Apple, Strawberry

In [7]:
# Print in multiple columns

print('{0:10} | {1:8}'.format('Fruit', 'Quantity'))
print('{0:10} | {1:8}'.format('Oranges', 10))
print('{0:10} | {1:8}'.format('Apples', 1.25))
print('{0:10} | {1:8.3f}'.format('Strawberry', 1.75))

Fruit      | Quantity
Oranges    |       10
Apples     |     1.25
Strawberry |    1.750

In [8]:
# By default, .format() aligns text to the left, numbers to the right. 
# An optional <,^, or > can be used to set a left, center or right alignment.

print('{0:<8} | {1:^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(11,22,33))

Left     |  Center  |    Right
11       |    22    |       33

In [9]:
# Preceeding alignment operator

print('{0:=<8} | {1:-^8} | {2:.>8}'.format('Left','Center','Right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format(11,22,33))

Left==== | -Center- | ...Right
11====== | ---22--- | ......33

## Formatted String Literals (f-strings)

In [10]:
name = 'John'
age = 10.23
print(f"His name is {name} and his age is {age}")
print(f"His name is {name!r} and his age is {age:0.5f}")

His name is John and his age is 10.23
His name is 'John' and his age is 10.23000